pipeline/pipeline_ImportData.json
{
	"name": "pipeline_ImportData",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ProductID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ProductID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Name",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ProductNumber",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ProductNumber",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Color",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Color",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "StandardCost",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "StandardCost",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "ListPrice",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ListPrice",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "Size",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Size",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Weight",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Weight",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 8
								}
							},
							{
								"source": {
									"name": "ProductCategoryID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ProductCategoryID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "ProductModelID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ProductModelID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "SellStartDate",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "SellStartDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "SellEndDate",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "SellEndDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "DiscontinuedDate",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "DiscontinuedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "ThumbNailPhoto",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ThumbNailPhoto",
									"type": "Byte[]",
									"physicalType": "varbinary"
								}
							},
							{
								"source": {
									"name": "ThumbnailPhotoFileName",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ThumbnailPhotoFileName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "rowguid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "rowguid",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DelimitedText3",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ProductStaging",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Validate Import Rows",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[SalesLT].[usp_CheckProductStaging]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Send Failure Notification",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Validate Import Rows",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": "https://prod-04.eastus.logic.azure.com:443/workflows/e2fbe2f860134fe28f8163e763d60b08/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=EsCg5Y1krX7ifOr8DpuTsvQ_oUlCGy2iV4NBoB4GiFk",
					"body": {
						"DataFactoryName": "@{pipeline().DataFactory}",
						"PipelineName": "@{pipeline().Pipeline}",
						"ErrorMessage": "@{activity('Validate Import Rows').error.message}",
						"EmailTo": "@{pipeline().parameters.EmailTo}"
					}
				}
			},
			{
				"name": "Send success Notification",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Validate Import Rows",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": "https://prod-04.eastus.logic.azure.com:443/workflows/e2fbe2f860134fe28f8163e763d60b08/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=EsCg5Y1krX7ifOr8DpuTsvQ_oUlCGy2iV4NBoB4GiFk",
					"body": {
						"DataFactoryName": "@{pipeline().DataFactory}",
						"PipelineName": "@{pipeline().Pipeline}",
						"PipelineStatus": "Completed Successfully",
						"EmailTo": "@{pipeline().parameters.EmailTo}"
					}
				}
			}
		],
		"parameters": {
			"EmailTo": {
				"type": "string",
				"defaultValue": "asghari.pz@gmail.com"
			}
		},
		"annotations": []
	}
}